{% extends 'stats/base/base.html' %}
{% load static %}

{% block title %}
    Overwatch League
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'stats/styles/index.css' %}">
{% endblock %}

{% block body %}
    <div class="main-content">
        <h1 class="page-title"><span class="page-title-highlight">Know</span>verwatch</h1>
        <p class="page-info">Knowverwatch is a site focused on providing the best source of Overwatch League data to
            compare and analyze player performance, team success, etc. Founded by Alexandre Rodrigues as a passion
        project, they are currently a backend developer. If there are any bugs or incorrect data points, please, don't
            hesitate to reach out via the contact section at the footer down bellow.</p>

        <div class="date-box">
            <h2 class="date">{{ today }}</h2>
            <p class="date-info">DD/MM/YYYY</p>
        </div>

        <div class="spoilers">
            <a class="spoilers-link" href="{% url 'see-spoilers' None %}">{% if see_spoilers %}Hide Spoilers{% else %}Show Spoilers{% endif %}</a>
        </div>

        <div class="west-standings">
            <h2 class="west-title">West Playoffs - West</h2>
            <p class="west-description">Playoff qualification will be based on performance in Spring and Summer Qualifiers.</p>

            <div class="west-table-wrapper">
                <table class="west-table">
                    <thead>
                        <tr>
                            <th>TEAM</th>
                            <th>RANK</th>
                            <th>W</th>
                            <th>L</th>
                            <th>WIN%</th>
                            <th>MP</th>
                            <th>MAP W-L-T</th>
                            <th>DIFF</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for team in teams_west %}
                            <tr>
                                {% if see_spoilers %}
                                    <td><img src="{{ team.team_object.icon }}" class="team-icon"/>{{ team.team_object.name }}</td>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ team.wins }}</td>
                                    <td>{{ team.losses }}</td>
                                    <td>{{ team.win_rate }}</td>
                                    <td>{{ team.matches_played }}</td>
                                    <td>{{ team.maps }}</td>
                                    <td>{{ team.differential }}</td>
                                {% else %}
                                    <td>Spoilers</td>
                                    <td>{{ forloop.counter }}</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0%</td>
                                    <td>0</td>
                                    <td>0-0-0</td>
                                    <td>0</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
            </div>
        </div>

        <div class="east-standings">
            <h2 class="east-title">East Playoffs - East</h2>
            <p class="east-description">Playoff qualification will be based on performance in Spring and Summer Qualifiers. Both Overwatch League and Contenders teams are eligible to directly qualify for Playoffs.</p>

            <div class="east-table-wrapper">
                <table class="east-table">
                    <thead>
                        <tr>
                            <th>TEAM</th>
                            <th>RANK</th>
                            <th>W</th>
                            <th>L</th>
                            <th>WIN%</th>
                            <th>MP</th>
                            <th>MAP W-L-T</th>
                            <th>DIFF</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for team in teams_east %}
                            <tr>
                                {% if see_spoilers %}
                                    <td><img src="{{ team.team_object.icon }}" class="team-icon"/>{{ team.team_object.name }}</td>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ team.wins }}</td>
                                    <td>{{ team.losses }}</td>
                                    <td>{{ team.win_rate }}</td>
                                    <td>{{ team.matches_played }}</td>
                                    <td>{{ team.maps }}</td>
                                    <td>{{ team.differential }}</td>
                                {% else %}
                                    <td>Spoilers</td>
                                    <td>{{ forloop.counter }}</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0%</td>
                                    <td>0</td>
                                    <td>0-0-0</td>
                                    <td>0</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
            </div>
        </div>

        <div class="legend">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>LEGEND</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td><span>W - </span>Matches won</td>
                        <td><span>L - </span>Matches lost</td>
                        <td><span>WIN% - </span>Win Percentage</td>
                    </tr>
                    <tr>
                        <td><span>MP - </span>Matches played</td>
                        <td><span>MAP W-L-T - </span>Map record<br>(win-loss-tie)</td>
                        <td><span>DIFF - </span>Map differential<br>(wins minus losses)</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}