{% extends 'stats/base/base.html' %}
{% load static %}

{% block title %}
    Overwatch League
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'stats/styles/index.css' %}">
{% endblock %}

{% block main_heading %}
    Overwatch League
{% endblock %}

{% block header_content %}
    <p></p>
{% endblock %}

{% block body %}
    <div>
        <form action="{% url 'search' %}">
            {% csrf_token %}
            <input type="text" placeholder="Search" name="search">
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}