{% extends 'stats/base/base.html' %}
{% load static %}

{% block title %}
    Match Details
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'stats/styles/match-details.css' %}">
    <style>
        .player-headshot {
            background-image: url({% static 'stats/images/other/player-headshot-background.png' %});
        }
    </style>
{% endblock %}

{% block body %}

    <div class="main-content" style="background-image: url({% static 'stats/images/other/teams-background-pattern.png' %});">

        <h1 class="segment-name">{{ match.segment.name }}</h1>
        <p class="match-date">{{ match.date }}</p>

        <div class="teams-info">
            <div class="team-info home-team-info">
                <a href="{% url 'team-details-page' home_team.slug %}">
                    <img class="team-logo home-team-logo" src="{% if home_team.name == 'PANTHERA' or home_team.name == 'O2 Blast' or home_team.name == 'Poker Face' or home_team.name == 'Rhodes' or home_team.name == 'Sin Prisa Gaming' %}{{ home_team.logo }}{% else %}{{ home_team.icon }}{% endif %}" alt="Home Team's logo" loading="lazy">
                </a>
            </div>

            <div class="score">
                <div class="score-info">

                    <div class="home-team-score-container">
                        {% if home_team_score == 0 and away_team_score == 0 %}
                            <p class="home-team-score">-</p>
                        {% else %}
                            <p class="home-team-score">{% if see_spoilers == True %}{{ home_team_score }}{% endif %}</p>
                        {% endif %}
                    </div>

                    <p class="score-vs">vs</p>

                    <div class="away-team-score-container">
                        {% if home_team_score == 0 and away_team_score == 0 %}
                            <p class="away-team-score">-</p>
                        {% else %}
                            <p class="away-team-score">{% if see_spoilers == True %}{{ away_team_score }}{% endif %}</p>
                        {% endif %}
                    </div>

                </div>

                <div class="spoilers">
                    <a class="spoilers-link" href="{% url 'see-spoilers' match.slug %}">{% if see_spoilers %}Hide Results{% else %}Show Results{% endif %}</a>
                </div>
            </div>

            <div class="team-info away-team-info">
                <a href="{% url 'team-details-page' away_team.slug %}">
                    <img class="team-logo away-team-logo" src="{% if away_team.name == 'PANTHERA' or away_team.name == 'O2 Blast' or away_team.name == 'Poker Face' or away_team.name == 'Rhodes' or away_team.name == 'Sin Prisa Gaming' %}{{ away_team.logo }}{% else %}{{ away_team.icon }}{% endif %}" alt="Away Team's logo" loading="lazy">
                </a>
            </div>
        </div>

        {% if match.match_url %}
            <div class="watch-on-youtube">
                <a class="watch-button" href="{{ match.match_url }}">Watch on YouTube</a>
            </div>
        {% endif %}

        {% if games %}
            <h2 class="games-title">Maps:</h2>
        {% endif %}
        <div class="games">
            {% for game in games %}
                <div class="game-card">
                    {% if game.home_team.primary_color %}
                        <div class="game-home-team" style="background-color: {{ game.home_team.primary_color }}; color: {% if game.home_team.secondary_color %}{{ game.home_team.secondary_color }}{% else %}black{% endif %};">
                    {% else %}
                        <div class="game-home-team" style="background-color: {% if game.home_team.name == 'Dreamers' %}#CD90F5FF{% else %}#d7d5d5{% endif %}; color: black;">
                    {% endif %}

                        {% if game.home_team.name == 'Boston Uprising' %}
                            <img src="{{ game.home_team.icon }}" alt="game-team-icon" class="game-home-team-icon boston-filter" loading="lazy"/>
                        {% elif game.home_team.name == 'Hangzhou Spark' %}
                            <img src="{{ game.home_team.icon }}" alt="game-team-icon" class="game-home-team-icon hangzhou-filter" loading="lazy"/>
                        {% elif game.home_team.name == 'Houston Outlaws' %}
                            <img src="{{ game.home_team.icon }}" alt="game-team-icon" class="game-home-team-icon houston-filter" loading="lazy"/>
                        {% elif game.home_team.name == 'Shanghai Dragons' %}
                            <img src="{{ game.home_team.icon }}" alt="game-team-icon" class="game-home-team-icon shanghai-filter" loading="lazy"/>
                        {% elif game.home_team.name == 'New York Excelsior' %}
                            <img src="{{ game.home_team.icon }}" alt="game-team-icon" class="game-home-team-icon new-york-filter" loading="lazy"/>
                        {% elif game.home_team.name == 'O2 Blast' %}
                            <img src="{{ game.home_team.logo }}" alt="game-team-icon" class="game-home-team-icon" loading="lazy"/>
                        {% elif game.home_team.name == 'PANTHERA' %}
                            <img src="{{ game.home_team.logo }}" alt="game-team-icon" class="game-home-team-icon" loading="lazy"/>
                        {% elif game.home_team.name == 'Poker Face' %}
                            <img src="{{ game.home_team.logo }}" alt="game-team-icon" class="game-home-team-icon" loading="lazy"/>
                        {% elif game.home_team.name == 'Rhodes' %}
                            <img src="{{ game.home_team.logo }}" alt="game-team-icon" class="game-home-team-icon" loading="lazy"/>
                        {% elif game.home_team.name == 'Sin Prisa Gaming' %}
                            <img src="{{ game.home_team.logo }}" alt="game-team-icon" class="game-home-team-icon" loading="lazy"/>
                        {% elif game.home_team.name == 'Toronto Defiant' %}
                            <img src="{{ game.home_team.icon }}" alt="game-team-icon" class="game-home-team-icon toronto-filter" loading="lazy"/>
                        {% elif game.home_team.name == 'Twisted Minds' %}
                            <img src="{{ game.home_team.icon }}" alt="game-team-icon" class="game-home-team-icon twisted-filter" loading="lazy"/>
                        {% elif game.home_team.name == 'WISP' %}
                            <img src="{{ game.home_team.icon }}" alt="game-team-icon" class="game-home-team-icon wisp-filter" loading="lazy"/>
                        {% else %}
                            <img src="{{ game.home_team.icon }}" alt="game-team-icon" class="game-home-team-icon" loading="lazy"/>
                        {% endif %}

                        <p class="game-home-team-name">{{ game.home_team.name }}</p>

                        <div class="game-home-team-score-container">
                            {% if game.home_team_score == 0 and game.away_team_score == 0 %}
                                <p class="game-home-team-score">{% if see_spoilers == True %}-{% endif %}</p>
                            {% else %}
                                <p class="game-home-team-score">{% if see_spoilers == True %}{{ game.home_team_score }}{% endif %}</p>
                            {% endif %}
                        </div>

                    </div>

                    {% with 'stats/images/maps/'|add:game.map|add:'.jpg' as path_to_map_image %}
                        <div class="game-map">
                            {% if game.map != 'Unknown' %}
                                <img src="{% static path_to_map_image %}" alt="Map Image" loading="lazy"/>
                            {% else %}
                                <div style="background-color: white"></div>
                            {% endif %}
                            <div class="overlay">
                                <p class="overlay-text">{{ game.map }}</p>
                            </div>
                        </div>
                    {% endwith %}

                    {% if game.away_team.primary_color %}
                        <div class="game-away-team" style="background-color: {{ game.away_team.primary_color }}; color: {% if game.away_team.secondary_color %}{{ game.away_team.secondary_color }}{% else %}black{% endif %};">
                    {% else %}
                        <div class="game-away-team" style="background-color: {% if game.away_team.name == 'Dreamers' %}#CD90F5FF{% else %}#d7d5d5{% endif %}; color: black;">
                    {% endif %}

                        <div class="game-away-team-score-container">
                            {% if game.home_team_score == 0 and game.away_team_score == 0 %}
                                <p class="game-away-team-score">{% if see_spoilers == True %}-{% endif %}</p>
                            {% else %}
                                <p class="game-away-team-score">{% if see_spoilers == True %}{{ game.away_team_score }}{% endif %}</p>
                            {% endif %}
                        </div>

                        <p class="game-away-team-name">{{ game.away_team.name }}</p>

                        {% if game.away_team.name == 'Boston Uprising' %}
                            <img src="{{ game.away_team.icon }}" alt="team-icon" class="game-away-team-icon boston-filter" loading="lazy"/>
                        {% elif game.away_team.name == 'Hangzhou Spark' %}
                            <img src="{{ game.away_team.icon }}" alt="team-icon" class="game-away-team-icon hangzhou-filter" loading="lazy"/>
                        {% elif game.away_team.name == 'Houston Outlaws' %}
                            <img src="{{ game.away_team.icon }}" alt="team-icon" class="game-away-team-icon houston-filter" loading="lazy"/>
                        {% elif game.away_team.name == 'Shanghai Dragons' %}
                            <img src="{{ game.away_team.icon }}" alt="team-icon" class="game-away-team-icon shanghai-filter" loading="lazy"/>
                        {% elif game.away_team.name == 'New York Excelsior' %}
                            <img src="{{ game.away_team.icon }}" alt="team-icon" class="game-away-team-icon new-york-filter" loading="lazy"/>
                        {% elif game.away_team.name == 'O2 Blast' %}
                            <img src="{{ game.away_team.logo }}" alt="game-team-icon" class="game-away-team-icon" loading="lazy"/>
                        {% elif game.away_team.name == 'PANTHERA' %}
                            <img src="{{ game.away_team.logo }}" alt="game-team-icon" class="game-away-team-icon" loading="lazy"/>
                        {% elif game.away_team.name == 'Poker Face' %}
                            <img src="{{ game.away_team.logo }}" alt="game-team-icon" class="game-away-team-icon" loading="lazy"/>
                        {% elif game.away_team.name == 'Rhodes' %}
                            <img src="{{ game.away_team.logo }}" alt="game-team-icon" class="game-away-team-icon" loading="lazy"/>
                        {% elif game.away_team.name == 'Sin Prisa Gaming' %}
                            <img src="{{ game.away_team.logo }}" alt="game-team-icon" class="game-away-team-icon" loading="lazy"/>
                        {% elif game.away_team.name == 'Toronto Defiant' %}
                            <img src="{{ game.away_team.icon }}" alt="team-icon" class="game-away-team-icon toronto-filter" loading="lazy"/>
                        {% elif game.away_team.name == 'Twisted Minds' %}
                            <img src="{{ game.away_team.icon }}" alt="team-icon" class="game-away-team-icon twisted-filter" loading="lazy"/>
                        {% elif game.away_team.name == 'WISP' %}
                            <img src="{{ game.away_team.icon }}" alt="team-icon" class="game-away-team-icon wisp-filter" loading="lazy"/>
                        {% else %}
                            <img src="{{ game.away_team.icon }}" alt="team-icon" class="game-away-team-icon" loading="lazy"/>
                        {% endif %}

                    </div>

                </div>
            {% endfor %}
        </div>

        {% if players %}
            <h2 class="players-title">Played in this match:</h2>
        {% endif %}

        <div class="players">

            <div class="players-container">
                <div class="home-team-players">
                    {% for player in players %}
                        {% if player.team_id == home_team.id %}
                            <a href="{{ player.player.get_absolute_url }}" class="player-card grow" style="background-color: {{ home_team.primary_color }}; border: 5px solid {{ home_team.secondary_color }};">
                                <img src="{{ player.player.headshot_url }}" alt="player-headshot" class="player-headshot" loading="lazy">
                                <div class="player-name" style="color: {{ home_team.secondary_color }};">{{ player.player.name }}</div>

                                {% if player.player.role == 'DPS' %}
                                    <img src="https://static.wikia.nocookie.net/overwatch/images/1/14/OffenseIcon.png/revision/latest?cb=20160625040759" class="player-role" alt="DPS-role" loading="lazy" style="background-color: {{ home_team.secondary_color }};">
                                {% elif player.player.role == 'SUPPORT' %}
                                    <img src="https://static.wikia.nocookie.net/overwatch/images/5/5f/SupportIcon.png/revision/latest?cb=20160625042024" class="player-role" alt="support-role" loading="lazy" style="background-color: {{ home_team.secondary_color }}";>
                                {% elif player.player.role == 'TANK' %}
                                    <img src="https://static.wikia.nocookie.net/overwatch/images/6/69/TankIcon.png/revision/latest?cb=20160625041805" class="player-role" alt="tank-role" loading="lazy" style="background-color: {{ home_team.secondary_color }}";>
                                {% endif %}

                                <div class="heroes-icons-container">
                                    {% for hero in player.heroes_played %}
                                        {% with 'stats/images/heroes/'|add:hero|add:'.png' as path_to_hero_headshot %}
                                            <img src="{% static path_to_hero_headshot %}" alt="{{ hero }}-icon" class="heroes-icons" style="border: 2px solid {{ home_team.secondary_color }};" loading="lazy">
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="away-team-players">
                    {% for player in players %}
                        {% if player.team_id == away_team.id %}
                            <a href="{{ player.player.get_absolute_url }}" class="player-card grow" style="background-color: {{ away_team.primary_color }}; border: 5px solid {{ away_team.secondary_color }};">
                                <img src="{{ player.player.headshot_url }}" alt="player-headshot" class="player-headshot" loading="lazy">
                                <div class="player-name" style="color: {{ away_team.secondary_color }};">{{ player.player.name }}</div>

                                {% if player.player.role == 'DPS' %}
                                    <img src="https://static.wikia.nocookie.net/overwatch/images/1/14/OffenseIcon.png/revision/latest?cb=20160625040759" class="player-role" alt="DPS-role" loading="lazy" style="background-color: {{ away_team.secondary_color }};">
                                {% elif player.player.role == 'SUPPORT' %}
                                    <img src="https://static.wikia.nocookie.net/overwatch/images/5/5f/SupportIcon.png/revision/latest?cb=20160625042024" class="player-role" alt="support-role" loading="lazy" style="background-color: {{ away_team.secondary_color }};">
                                {% elif player.player.role == 'TANK' %}
                                    <img src="https://static.wikia.nocookie.net/overwatch/images/6/69/TankIcon.png/revision/latest?cb=20160625041805" class="player-role" alt="tank-role" loading="lazy" style="background-color: {{ away_team.secondary_color }};">
                                {% endif %}


                                <div class="heroes-icons-container">
                                    {% for hero in player.heroes_played %}
                                        {% with 'stats/images/heroes/'|add:hero|add:'.png' as path_to_hero_headshot %}
                                            <img src="{% static path_to_hero_headshot %}" alt="{{ hero }}-icon" class="heroes-icons" style="border: 2px solid {{ away_team.secondary_color }};" loading="lazy">
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}