{% extends 'stats/base/base.html' %}
{% load static %}

{% block title %}
    Overwatch League Players
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'stats/styles/player-details.css' %}">
{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="container">
            <a href="{{ player.get_absolute_url }}" class="player-card grow">
                <img src="{{ player.headshot_url }}" alt="" class="player-headshot">
                <div class="player-name">{{ player.name }}</div>

                {% if player.role == 'DPS' %}
                    <img src="https://static.wikia.nocookie.net/overwatch/images/1/14/OffenseIcon.png/revision/latest?cb=20160625040759" class="player-role" alt="DPS-role">
                {% elif player.role == 'SUPPORT' %}
                    <img src="https://static.wikia.nocookie.net/overwatch/images/5/5f/SupportIcon.png/revision/latest?cb=20160625042024" class="player-role" alt="support-role">
                {% elif player.role == 'TANK' %}
                    <img src="https://static.wikia.nocookie.net/overwatch/images/6/69/TankIcon.png/revision/latest?cb=20160625041805" class="player-role" alt="tank-role">
                {% endif %}

                <p><strong>First name:</strong> {{ player.first_name }}</p>
                <p><strong>Last name:</strong> {{ player.last_name }}</p>
            </a>
        </div>
    </div>
{% endblock %}