{% extends 'stats/base/base.html' %}
{% load static %}

{% block title %}
    {{ team.name }}
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'stats/styles/team-details.css' %}">
    <style>
        .player-card {
            background-color: {{ team.primary_color }};
            border: 7px solid {{ team.secondary_color }};
        }

        .player-card:hover {
            background-color: {{ team.primary_color }};
        }

        .player-name {
            color: {{ team.secondary_color }};
        }

        .player-role {
            background-color: {{ team.secondary_color }};
        }

        .roster p {
            color: {{ team.secondary_color }};
        }
    </style>
{% endblock %}

{% block body %}
    <div class="main-content">
        <h1 class="team-name">{{ team.name }} ({{ team.code }})</h1>
        <img src="{{ team.logo }}" alt="" class="team-logo">

        <h2>Roster:</h2>
        <div class="roster">
            {% for player in players %}
                <a href="{{ player.get_absolute_url }}" class="player-card grow">
                    <img src="{{ player.headshot_url }}" alt="" class="player-headshot">
                    <div class="player-name">{{ player.name }}</div>

                    {% if player.role == 'DPS' %}
                        <img src="https://static.wikia.nocookie.net/overwatch/images/1/14/OffenseIcon.png/revision/latest?cb=20160625040759" class="player-role" alt="DPS-role">
                    {% elif player.role == 'SUPPORT' %}
                        <img src="https://static.wikia.nocookie.net/overwatch/images/5/5f/SupportIcon.png/revision/latest?cb=20160625042024" class="player-role" alt="support-role">
                    {% elif player.role == 'TANK' %}
                        <img src="https://static.wikia.nocookie.net/overwatch/images/6/69/TankIcon.png/revision/latest?cb=20160625041805" class="player-role" alt="tank-role">
                    {% endif %}

                    <p><strong>First name:</strong> {{ player.first_name }}</p>
                    <p><strong>Last name:</strong> {{ player.last_name }}</p>
                </a>
            {% endfor %}
        </div>

        <h2 style="margin-top: 30px;">Latest matches:</h2>
        <div class="matches">
            {% for match in matches %}
                <p class="match-date">{{ match.date.day }}/{{ match.date.month }}/{{ match.date.year }}</p>
                <a href="{% url 'match-details-page' match.slug %}" class="match-card grow" style="text-decoration: none;">
                    {% for current_team in all_teams %}
                        {% if current_team.id == match.home.id %}
                            {% if current_team.primary_color %}
                                <div class="home-team" style="background-color: {{ current_team.primary_color }}; color: {{ current_team.secondary_color }};">
                            {% else %}
                                <div class="home-team" style="background-color: {{ current_team.primary_color }}; color: black;">
                            {% endif %}
                                <img src="{{ current_team.icon }}" alt="team-icon" class="home-team-icon"/>
                                <p class="home-team-name">{{ current_team.name }}</p>
                                {% if match.home.score %}
                                    <p class="home-team-score">{{ match.home.score }}</p>
                                {% else %}
                                    <p class="home-team-score">0</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for current_team in all_teams %}
                        {% if current_team.id == match.away.id %}
                            {% if current_team.primary_color %}
                                <div class="away-team" style="background-color: {{ current_team.primary_color }}; color: {{ current_team.secondary_color }};">
                            {% else %}
                                <div class="away-team" style="background-color: {{ current_team.primary_color }}; color: black;">
                            {% endif %}
                                {% if match.away.score %}
                                    <p class="home-team-score">{{ match.away.score }}</p>
                                {% else %}
                                    <p class="home-team-score">0</p>
                                {% endif %}
                                <p class="away-team-name">{{ current_team.name }}</p>
                                <img src="{{ current_team.icon }}" alt="" class="away-team-icon"/>
                            </div>
                        {% endif %}
                    {% endfor %}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}