{% extends 'stats/base/base.html' %}
{% load static %}

{% block title %}
    Overwatch League Teams
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'stats/styles/teams.css' %}">
{% endblock %}

{% block main_heading %}
    Overwatch League Teams
{% endblock %}

{% block header_content %}
    <p></p>
{% endblock %}

{% block body %}
    <ul>
        {% for team in teams %}
            <li><img src="{{ team.1.logo }}" class="team-logo"></li>
            <li class="team-name">{{ team.1.name }}</li>
            <li class="team-code">{{ team.1.code }}</li>
            <li class="team-details"><a href="{% url 'team-details-page' team.1.id %}">Roster</a></li>
        {% endfor %}
    </ul>
{% endblock %}