{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}OWL{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'stats/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'stats/styles/background.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;700&display=swap" rel="stylesheet">
    {% block css_styles %}
    {% endblock %}
</head>

<body>
    <div class="background-container">
        <div class="background-center">
{#            <img src="{% static 'stats/images/background.png' %}" alt="background-image">#}
        </div>
    </div>


    <header id="main-navigation">
        <a href="{% url 'home-page' %}" id="main-logo"><img src="{% static 'stats/images/owl-logo.png' %}" alt="home"></a>
        <nav>
            <a href="{% url 'teams-page' %}" {% if request.path == '/teams' %}class="current"{% endif %}>Teams</a>
            <a href="{% url 'players-page' %}" {% if request.path == '/players' %}class="current"{% endif %}>Players</a>
            <div class="search-bar">
                <form action="{% url 'search' %}">
                    {% csrf_token %}
                    <label>
                        <input type="text" placeholder="Find player or team" name="search">
                    </label>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="content-container">
        <main>
            {% block body %}
            {% endblock %}
        </main>
    </div>
</body>
</html>