{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}OWL{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'stats/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'stats/styles/background.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block css_styles %}
    {% endblock %}
</head>

<body>

    <div class="background-container" style="background-image: url({% static 'stats/images/other/background.png' %});">
        <div class="background-center">
        </div>
    </div>


    <header id="main-navigation">
        <a href="{% url 'home-page' %}" id="main-logo"><img src="{% static 'stats/images/other/owl-logo.png' %}" alt="Home Page"></a>

        <nav>
            <a href="{% url 'teams-page' %}" {% if request.path == '/teams' %}class="current"{% endif %}>Teams</a>
            <a href="{% url 'players-page' %}" {% if request.path == '/players' %}class="current"{% endif %}>Players</a>
            <a href="{% url 'compare-players' %}" {% if request.path == '/compare' %}class="current"{% endif %}>Compare</a>

            <div class="search-bar">
                <form action="{% url 'search' %}">
                    {% csrf_token %}
                    <label>
                        <input type="text" placeholder="Find player or team" name="search">
                    </label>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="search-message">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <button type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="content-container">
        <main>
            {% block body %}
            {% endblock %}

            <div class="toggle-container">
                <label class="toggle">
                    <input type="checkbox" id="modeToggle" {% if is_dark_mode %}checked{% endif %}>
                    <span class="slider round"></span>
                </label>
            </div>
        </main>
    </div>

    <footer>
        <ul class="footer-links">
            <li><a href="https://www.ltinkedin.com/in/alexandre-rodrigues-557185119" target="_blank">LinkedIn</a></li>
            <li><a href="mailto:alexandre.dev.work@gmail.com">Contact Me</a></li>
            <li><a href="https://github.com/while-is-alex" target="_blank">GitHub</a></li>
        </ul>
        <div class="kofi-link">
            <a href="https://ko-fi.com/whileisalex" target="_blank">Buy me a coffee</a>
        </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var modeToggle = document.getElementById("modeToggle");

        function setInitialDarkMode() {
          var darkMode = {{ request.session.is_dark_mode|default_if_none:"false"|lower }};
          modeToggle.checked = darkMode;

          if (darkMode) {
            document.body.classList.add("dark-mode");
          }
        }

        modeToggle.addEventListener("change", function () {
          var darkMode = modeToggle.checked;

          fetch("{% url 'toggle-mode' %}", {
            method: 'POST',
            headers: {
              'X-CSRFToken': '{{ csrf_token }}',
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ dark_mode: darkMode }),
          })
            .then(response => response.json())
            .then(data => {
              if (darkMode) {
                document.body.classList.add("dark-mode");
              } else {
                document.body.classList.remove("dark-mode");
              }
              console.log(data);
            })
            .catch(error => console.error(error));
        });

        setInitialDarkMode();

      });
    </script>

</body>
</html>