body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Barlow', sans-serif;
}

header#main-navigation {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px 10px;
}

#main-logo img {
    width: 50px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

nav a {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

nav a.current {
    color: #fe9f2b;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    /*font-size: 1.1rem;*/
}

.search-bar {
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

.search-bar form {
    display: flex;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

.search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Barlow', sans-serif;
}

.search-bar button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer-links a:hover {
    color: #fe9f2b;
}

.kofi-link a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.kofi-link a:hover {
    color: #fe9f2b;
}
