body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header#main-navigation {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px 10px;
}

#main-logo img {
    width: 50px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
}

nav a.current {
    color: #fe9f2b;
    font-weight: bold;
}

.search-bar {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
