body {
	background-color: #F5F5F5;
	font-family: 'Barlow', sans-serif;
	margin: 0;
	padding: 0;
}

header#main-navigation {
	align-items: center;
	background-color: lightgrey;
	display: flex;
	justify-content: space-between;
	padding: 12px 10px 10px;
}

.dark-mode header#main-navigation {
	background-color: #333333;
}

#main-logo img {
	height: auto;
	width: 50px;
}

nav {
	align-items: center;
	display: flex;
	font-family: 'Barlow', sans-serif;
}

nav a {
	color: #000000;
	display: block;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
	margin: 0 10px;
	text-decoration: none;
}

.dark-mode nav a {
	color: #E8E6E3;
}

nav a:hover {
	color: #FE9F2B;
}

nav a.current {
	color: #FE9F2B;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;
}

.search-bar {
	align-items: center;
	display: flex;
	font-family: 'Barlow', sans-serif;
	margin-left: 20px;
}

.search-bar form {
	align-items: center;
	display: flex;
	font-family: 'Barlow', sans-serif;
}

.search-bar input[type='text'] {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	font-family: 'Barlow', sans-serif;
	padding: 5px;
}

.dark-mode .search-bar input {
	background-color: #C2C2C2;
}

.search-bar button {
	background-color: #007BFF;
	border: none;
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	font-family: 'Barlow', sans-serif;
	margin-left: 5px;
	padding: 5px 10px;
}

.search-icon {
	height: 1em;
	width: 1em;
}

.search-message {
	color: red;
	font-size: 14px;
	margin-left: 10px;
}

.hamburger-menu {
	display: none;
}

@media (max-width: 768px) {
	header#main-navigation {
		padding: 12px 20px 12px;
	}

	#main-logo img {
		width: 55px;
	}

	#navigation-items {
		align-items: center;
		background-color: #B9B9B9;
		display: none;
		flex-direction: column;
		justify-content: center;
		left: 0;
		padding-top: 10px;
		position: absolute;
		top: 56px;
		width: 100%;
		padding-bottom: 20px;
		z-index: 999;
	}

	.dark-mode #navigation-items {
		background-color: #1F1F1F;
	}

	#navigation-items a {
		display: block;
		font-size: 1.2em;
		margin: 10px 0;
		text-transform: uppercase;
		order: 1;
	}

	.search-bar {
		margin: 10px 0 10px;
		order: -1;
	}

	.search-bar  input {
		width: 160px;
	}

	.hamburger-menu {
		color: #232323;
		display: block;
		font-size: 20px;
		padding: 5px 10px;
		position: absolute;
		right: 15px;
		top: 11px;
	}

	.dark-mode .hamburger-menu {
		color: #E8E6E3;
	}
}

.toggle-container {
	bottom: 20px;
	position: fixed;
	right: 30px;
	z-index: 999;
}

.toggle {
	display: inline-block;
	height: 24px;
	width: 50px;
}

.toggle input[type='checkbox'] {
	height: 0;
	opacity: 0;
	width: 0;
}

.slider {
	background-color: #FFA500;
	background-image: url('../images/other/captive_sun.svg');
	background-position: 80% 50%;
	background-repeat: no-repeat;
	background-size: 18px;
	border-radius: 34px;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
}

.slider::before {
	background-color: white;
	border-radius: 50%;
	content: '';
	height: 18px;
	left: 3px;
	position: absolute;
	top: 3px;
	transform: translateX(0);
	transition: 0.4s;
	width: 18px;
}

input[type='checkbox']:checked + .slider {
	background-color: darkblue;
	background-image: url('../images/other/infra_sight.svg');
	background-position: 18% 50%;
	background-repeat: no-repeat;
	background-size: 15px;
}

input[type='checkbox']:checked + .slider::before {
	transform: translateX(26px);
}


footer {
	background-color: #333333;
	color: #FFFFFF;
	padding: 10px 0;
	text-align: center;
}

.footer-links {
	list-style: none;
	padding: 0;
}

.footer-links li {
	display: inline;
	margin-right: 20px;
}

.footer-links a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.footer-links a:hover {
	color: #FE9F2B;
}

.kofi-link {
	margin-bottom: 10px;
}

.kofi-link a {
	background-color: #FE9F2B;
	border-radius: 5px;
	color: #FFFFFF;
	display: inline-block;
	font-weight: bold;
	padding: 10px 20px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.kofi-link a:hover {
	background-color: #D38423;
}
