.main-content {
  align-items: center;
  background-size: contain;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -8px 0;
  overflow-x: auto;
  padding-bottom: 40px;
  padding-top: 5px;
  text-align: center;
  white-space: nowrap;
}

.page-title {
  clear: both;
  font-size: 4rem;
  margin-bottom: 5px;
  pointer-events: none;
}

.page-title-highlight {
    color: #fe9f2b;
}

.page-info {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
}

.data-info {
  font-size: 0.9rem;
  margin-top: 5px;
}

.date-box {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  text-align: center;
}

.date {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 0;
  margin-top: 5px;
}

.date-info {
  color: #777777;
  font-size: 0.8rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.spoilers-link {
  background-color: #737373;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  margin-top: 20px;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.spoilers-link:hover {
  background-color: #c0392b;
}

.spoilers-link:focus {
  outline: none;
}

.west-standings,
.east-standings {
  box-sizing: border-box;
  flex-basis: calc(50% - 20px);
  padding: 10px;
  text-align: center;
  width: 90%;
}

.west-table-wrapper,
.east-table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.west-title,
.east-title {
  color: #333;
  font-size: 40px;
  margin-bottom: 10px;
}

.west-description,
.east-description {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

.west-table,
.east-table {
  border-collapse: collapse;
  width: 100%;
}

.west-table thead {
  background: linear-gradient(to right, #007acc, #004e77);
}

.east-table thead {
  background: linear-gradient(to right, #00cc0e, #007711);
}

.west-table tbody tr:hover,
.east-table tbody tr:hover {
  background-color: #f0f0f0;
}

.west-table th,
.east-table th {
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.west-table th:first-child,
.east-table th:first-child {
  padding-left: 20px;
  text-align: left;
}

.west-table td,
.east-table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.west-table td:first-child,
.east-table td:first-child {
  align-items: center;
  display: flex;
  font-weight: bold;
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
}

.team-icon {
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  width: 30px;
}

.legend {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  width: 50em;
}

.legend table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.legend table th {
  background-color: #acabab;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.legend table td {
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}

.legend table td span {
  color: #333;
  font-weight: bold;
}


@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
    .west-standings, .east-standings {
        flex-basis: 100%;
    }
}
