.main-content {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.9);
	background-size: contain;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: -8px 0;
	overflow-x: auto;
	padding-bottom: 40px;
	padding-top: 5px;
	text-align: center;
	white-space: nowrap;
}

@media (max-width: 768px) {
	.main-content {
		align-items: center;
		background-color: rgba(255, 255, 255, 0.9);
		background-size: contain;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: -8px -10px;
		overflow-x: auto;
		padding-bottom: 40px;
		padding-top: 5px;
		text-align: center;
		white-space: nowrap;
	}
}

.dark-mode .main-content {
	background-color: rgba(31, 34, 35, 0.8);
}

.page-title {
	clear: both;
	font-size: 4rem;
	margin-bottom: 5px;
	margin-top: 1.5em;
	pointer-events: none;
}

@media (max-width: 768px) {
	.page-title {
		clear: both;
		font-size: 2.5rem;
		margin-bottom: 5px;
		margin-top: 1.5em;
		pointer-events: none;
	}
}

.dark-mode .page-title {
	color: #E8E6E3;
}

.page-title-highlight {
	color: #FE9F2B;
}

.page-info {
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 10px;
}

.dark-mode .page-info {
	color: #E8E6E3;
}

@media (max-width: 768px) {
	.page-info {
		font-size: 1.1rem;
		font-weight: bold;
		margin-top: 10px;
		text-align: center;
		white-space: normal;
		word-wrap: break-word;
	}
}

.data-info {
	font-size: 0.9rem;
	margin-top: 5px;
}

.date-box {
	background-color: #F7F7F7;
	border: 1px solid #DDDDDD;
	margin-bottom: 20px;
	margin-top: 60px;
	padding: 10px 20px;
	text-align: center;
}

.dark-mode .date-box {
	background-color: #404040;
	border: 1px solid #808080;
}

.date {
	color: #333333;
	font-size: 1.8rem;
	margin-bottom: 0;
	margin-top: 5px;
}

.dark-mode .date {
	color: #E8E6E3;
}

.date-info {
	color: #777777;
	font-size: 0.8rem;
	margin-bottom: 10px;
	margin-top: 10px;
}

.dark-mode .date-info {
	color: #DDDDDD;
}

.spoilers-link {
	background-color: #737373;
	border-radius: 5px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 100px;
	margin-top: 20px;
	padding: 10px 20px;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}

.spoilers-link:hover {
	background-color: #C0392B;
}

.spoilers-link:focus {
	outline: none;
}

.west-standings,
.east-standings {
	box-sizing: border-box;
	flex-basis: calc(50% - 20px);
	padding: 10px;
	text-align: center;
	width: 90%;
}

.west-table-wrapper,
.east-table-wrapper {
	overflow-x: auto;
	width: 100%;
}

.west-title,
.east-title {
	color: #333333;
	font-size: 3em;
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	.west-title,
	.east-title {
		color: #333333;
		font-size: 2.5rem;
		margin-bottom: 10px;
		text-align: center;
		white-space: normal;
		word-wrap: break-word;
	}
}

.dark-mode .west-title,
.dark-mode .east-title {
	color: #DDDDDD;
}

.west-description,
.east-description {
	color: #666666;
	font-size: 1em;
	margin-bottom: 20px;
	text-align: center;
}

.dark-mode .west-description,
.dark-mode .east-description {
	color: #E8E6E3;
}

@media (max-width: 768px) {
	.west-description,
	.east-description {
		display: block;
		margin: 20px auto;
		max-width: 100%;
		text-align: center;
		white-space: normal;
		word-wrap: break-word;
	}
}

.west-table-wrapper,
.east-table-wrapper {
	overflow-x: auto;
}

.west-table,
.east-table {
	border-collapse: collapse;
	width: 100%;
}

.west-table thead,
.east-table thead {
	position: sticky;
	top: 0;
	z-index: 3;
}

.west-table thead {
	background: linear-gradient(to right, #007ACC, #004E77) fixed;
}

.east-table thead {
	background: linear-gradient(to right, #00CC0E, #007711) fixed;
}

.west-table th,
.east-table th {
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px;
	top: 0;
}

.west-table thead th:first-child::before,
.east-table thead th:first-child::before {
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.west-table thead th:first-child::before {
	background: linear-gradient(to right, #007ACC, #004E77) fixed;
}

.east-table thead th:first-child::before {
	background: linear-gradient(to right, #00CC0E, #007711) fixed;
}

.west-table th:first-child,
.east-table th:first-child {
	background-color: transparent;
	left: 0;
	padding-left: 20px;
	position: sticky;
	text-align: left;
	z-index: 2;
}

.west-table tbody,
.east-table tbody {
	background-color: #F3F3F3;
}

.dark-mode .west-table tbody,
.dark-mode .east-table tbody {
	background-color: #181A1B;
	color: #E8E6E3;
}

.west-table tbody tr:hover,
.east-table tbody tr:hover,
.west-table tbody tr:hover td:first-child,
.east-table tbody tr:hover td:first-child {
	background-color: #DADADA;
}

.dark-mode .west-table tbody tr:hover,
.dark-mode .east-table tbody tr:hover,
.dark-mode .west-table tbody tr:hover td:first-child,
.dark-mode .east-table tbody tr:hover td:first-child {
	background-color: #404040;
}

.west-table td,
.east-table td {
	border-bottom: 1px solid #DDDDDD;
	left: 0;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

.dark-mode .west-table td,
.dark-mode .east-table td {
	border-bottom: 1px solid #404040;
}

.west-table td:first-child,
.east-table td:first-child {
	align-items: center;
	background-color: #F3F3F3;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	font-weight: bold;
	left: 0;
	padding-left: 10px;
	position: sticky;
	text-align: left;
	vertical-align: middle;
	z-index: 1;
}

.dark-mode .west-table td:first-child,
.dark-mode .east-table td:first-child {
	background-color: #181A1B;
	border-bottom: 1px solid #404040;
}

.team-icon {
	height: 30px;
	margin-right: 10px;
	vertical-align: middle;
	width: 30px;
}

.legend {
	background-color: #F7F7F7;
	border: 1px solid #DDDDDD;
	margin-top: 40px;
	padding: 20px;
	text-align: center;
	width: 50em;
}

.dark-mode .legend {
	background-color: #404040;
	border: 1px solid #808080;
}

.legend table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

.legend table th {
	background-color: #ACABAB;
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px;
}

.legend table td {
	padding: 10px;
	text-align: center;
	word-wrap: break-word;
}

.dark-mode .legend table td {
	color: #E8E6E3;
}

.legend table td span {
	color: #333333;
	font-weight: bold;
}

.dark-mode .legend table td span {
	color: #DDDDDD;
}

@media (max-width: 768px) {
	.legend {
		width: 80%;
	}

	.legend table th,
	.legend table td {
		box-sizing: border-box;
		display: block;
		width: 100%;
	}
}

@media (max-width: 768px) {
	.main-content {
		flex-direction: column;
	}

	.west-standings, .east-standings {
		flex-basis: 100%;
	}
}
