.main-content {
	align-items: center;
	background-color: #FFFFFF;
	background-size: contain;
	border-radius: 8px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin: -8px 0;
	overflow-x: auto;
	padding-bottom: 10px;
	padding-top: 5px;
	text-align: center;
	white-space: nowrap;
}

.dark-mode .main-content {
	background-color: #333;
}

.segment-name {
	align-items: center;
	display: flex;
	font-size: 4rem;
	justify-content: center;
}

.dark-mode .segment-name {
	color: #E8E6E3;
}

.match-date {
	color: #777777;
	font-size: 2rem;
	font-weight: bold;
	margin-top: -30px;
}

.dark-mode .match-date {
	color: #B5B5B5;
}

.teams-info {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.team-info {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 15px;
}

.team-logo {
	cursor: pointer;
	filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.25));
	height: 300px;
	transition: transform 0.2s ease-in-out, filter 0.3s ease-in-out;
	width: 300px;
}

.team-logo:hover {
	transform: scale(1.10);
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.6));
}

.home-team-logo {
	margin-right: 50px;
}

.away-team-logo {
	margin-left: 50px;
}

.score {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.score-info {
	align-items: center;
	display: flex;
	margin-bottom: 10px;
}

.home-team-score-container,
.away-team-score-container {
	align-items: center;
	background-color: #F2F2F2;
	border-radius: 5px;
	border: 2px solid #2A2A2A;
	color: #A0A0A0;
	display: flex;
	font-size: 1.2rem;
	font-weight: bold;
	height: 50px;
	justify-content: center;
	margin: 0 10px;
	padding: 5px 10px 10px;
	width: 50px;
}

.dark-mode .home-team-score-container,
.dark-mode .away-team-score-container {
	border: 2px solid #808080;
}

.home-team-score,
.away-team-score {
	color: #333333;
	font-size: 4rem;
	font-weight: bold;
}

.score-vs {
	color: #777777;
	font-size: 2rem;
	margin: 0 20px;
	pointer-events: none;
}

.spoilers-link {
	background-color: #737373;
	border-radius: 5px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 1rem;
	margin-top: 20px;
	padding: 5px 10px;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}

.spoilers-link:hover {
	background-color: #C0392B;
}

.spoilers-link:focus {
	outline: none;
}

.watch-button {
	background-color: #DE0101;
	border-radius: 5px;
	border: none;
	color: #FFFFFF;
	display: inline-block;
	font-size: 1rem;
	margin-top: 5px;
	padding: 10px 20px;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}

.watch-button:hover {
	background-color: #AB0101;
}

.watch-button:focus {
	outline: none;
}

.games-title {
	color: #262626;
	font-size: 1.5rem;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-top: 60px;
	text-align: center;
	text-transform: uppercase;
}

.dark-mode .games-title {
	color: #E8E6E3;
}

.games {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	margin-top: 10px;
}

.game-card {
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	height: 100px;
	justify-content: space-between;
	margin: 0px 0 40px;
	max-width: 1200px;
	overflow: hidden;
	width: 140%;
}

.game-card-inner {
	align-items: center;
	background-color: #FFFFFF;
	display: flex;
	padding: 10px;
	width: 100%;
}

.game-card a {
	text-decoration: none;
}

.game-home-team,
.game-away-team {
	align-items: center;
	background-color: inherit;
	display: flex;
	flex: 1;
	justify-content: space-between;
	padding: 20px;
}

.game-home-team-icon,
.game-away-team-icon {
	flex: 0 0 auto;
	height: 70px;
	margin: 5px;
	position: relative;
	width: 70px;
}

.game-home-team-name,
.game-away-team-name {
	flex: 1 1 auto;
	font-size: 1.7rem;
	font-weight: bold;
	margin: 0 10px;
}

.game-home-team-name {
	text-align: left;
}

.game-away-team-name {
	text-align: right;
}

.game-home-team-score-container,
.game-away-team-score-container {
	align-items: center;
	background-color: #F2F2F2;
	border-radius: 5px;
	border: 1px solid #2A2A2A;
	color: #A0A0A0;
	display: flex;
	font-size: 1.2rem;
	font-weight: bold;
	height: 50px;
	justify-content: center;
	margin: 0 10px;
	width: 50px;
}

.game-home-team-score,
.game-away-team-score {
	color: #282828;
	font-size: 2.5rem;
	font-weight: bold;
}

.game-map {
	align-items: center;
	background-color: #FFFFFF;
	display: flex;
	height: 250px;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 250px;
}

.dark-mode .game-map {
	background-color: #9D9D9D;
}

.game-map img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.6);
	left: 0;
	padding: 5px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.overlay-text {
	color: #FFFFFF;
	font-size: 1.2rem;
	margin: 0;
}

.boston-filter {
	filter: invert(82%) sepia(82%) saturate(450%) hue-rotate(370deg) brightness(120%) contrast(98%);
}

.hangzhou-filter {
	filter: invert(51%) sepia(10%) saturate(2889%) hue-rotate(175deg) brightness(102%) contrast(70%);
}

.houston-filter {
	filter: contrast(60%);
}

.new-york-filter {
	filter: invert(72%) sepia(6%) saturate(128%) hue-rotate(169deg) brightness(104%) contrast(96%);
}

.shanghai-filter {
	filter: contrast(140%);
}

.toronto-filter {
	filter: invert(24%) sepia(99%) saturate(3644%) hue-rotate(337deg) brightness(72%) contrast(115%);
}

.twisted-filter {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(79deg) brightness(202%) contrast(102%);
}

.wisp-filter {
	filter: invert(9%) sepia(6%) saturate(0%) hue-rotate(22deg) brightness(15%) contrast(84%);
}

.players-title {
	color: #262626;
	font-size: 1.5rem;
	letter-spacing: 2px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
}

.dark-mode .players-title {
	color: #E8E6E3;
}

.players-container {
	align-items: flex-start;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	padding: 20px;
	width: 100%;
}

.home-team-players,
.away-team-players {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	width: calc(50% - 20px);
}

.away-team-players {
	align-items: flex-end;
	flex-direction: row-reverse;
}

.player-card {
	background-color: #D7D5D5;
	border-radius: 5px;
	border: 7px solid #262626;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	color: #212020;
	font-size: 0.8em;
	height: 210px;
	justify-content: center;
	margin: 5px;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	width: 140px;
}

.player-card:hover {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	transform: scale(1.1);
}

.player-name {
	font-size: 1.1rem;
	font-weight: bold;
	left: 12px;
	margin-bottom: 2px;
	position: absolute;
	top: 3px;
}

.player-name a {
	color: #212020;
	text-decoration: none;
}

.player-role {
	background-color: #3F3D3C;
	border-radius: 50%;
	border: 1px solid #000;
	bottom: 10px;
	height: 10px;
	padding: 3px;
	position: absolute;
	right: 10px;
	top: 4px;
	width: 10px;
}

.player-headshot {
	background-color: #252525;
	background-size: contain;
	border-radius: 5px 5px 0 0;
	border: 2px solid #D5D4D4;
	display: block;
	height: 80px;
	margin: 20px auto 3px;
	object-fit: contain;
	position: relative;
	width: 100%;
}

.heroes-icons-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-height: 105px;
	max-width: 100%;
	min-height: 40px;
	overflow: auto;
	position: relative;
	scrollbar-color: #999999 #F0F0F0;
	scrollbar-width: thin;
}

.heroes-icons-container::-webkit-scrollbar {
	width: 6px;
}

.heroes-icons-container::-webkit-scrollbar-thumb {
	background-color: rgba(153, 153, 153, 0.5);
	border-radius: 4px;
}

.heroes-icons-container::-webkit-scrollbar-track {
	background-color: rgba(245, 245, 245, 0.2);
}

.heroes-icons-container::-webkit-scrollbar-thumb:hover {
	background-color: #777777;
}

.heroes-icons {
	background-color: black;
	flex: 1;
	height: auto;
	margin: 2px 2px;
	max-width: 35px;
	object-fit: contain;
	transition: all 0.2s ease-in-out;
}

@media (max-width: 700px) {
	.heroes-icons {
		max-width: 20px;
	}
}