.main-content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  margin: -8px 0;
  background-size: contain;
}

.team-name {
  font-size: 4rem;
}

.team-code {
  font-size: 2rem;
  color: #777777; /* Secondary information color */
  margin-top: -30px; /* Adjust the margin to bring it closer to team-name */
}


/* Style the team logo */
.team-logo {
    max-width: 200px;
    margin: 10px;
}

.roster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: -8px 0;
  padding: 20px 200px;
}

.player-card {
  width: 200px;
  height: 300px;
  padding: 10px;
  border-radius: 5px;
  background-color: #8f8f8f;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  color: #212020;
  position: relative;
  overflow: hidden; /* Hide overflow to make the image and role icon fit inside the card */
  border: 7px solid #262626;
}

.player-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2px;
  position: absolute;
  top: 3px;
  left: 12px;
}

.player-role {
  width: 15px;
  height: 15px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #000;
  position: absolute;
  bottom: 10px;
  right: 10px;
  top: 4px;
}

.player-headshot {
  width: 100%;
  height: 130px;
  border-radius: 5px 5px 0 0;
  display: block;
  margin: 20px auto 10px;
  object-fit: contain;
  background-color: #fab358;
  background-image: url("../images/player-headshot-background.png");
  background-size: contain;
  border: 2px solid #d5d4d4;
  position: relative;
}

.player-name a {
  color: #212020;
  text-decoration: none;
}

.heroes-icons {
  width: 45px;
  height: 45px;
  bottom: 20px;
  object-fit: contain;
  margin: 0 5px;
  background-color: black;
}

.matches {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.match-date {
  font-size: 1.1rem;
  font-weight: bold;
  /*margin-top: 60px;*/
  color: #777777;
}

.match-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140%;
  max-width: 1400px;
  height: 100px;
  margin: 0px 0 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Hide any overflowing content */
  background-color: #ffffff; /* Set the background color for the match card */
}

.match-card-inner {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #ffffff; /* Set the background color for the match card */
}

.match-card a {
  text-decoration: none;
}

.home-team,
.away-team {
  display: flex;
  align-items: center;
  flex: 1; /* Distribute available space equally */
  padding: 20px;
  background-color: inherit; /* Use the background color of match-card */
  justify-content: space-between; /* Spread elements horizontally */
}

.home-team-icon,
.away-team-icon {
  width: 70px;
  height: 70px;
  margin: 5px;
  flex: 0 0 auto; /* Prevent icons from growing */
  position: relative; /* Create a stacking context */
}

.home-team-icon::before,
.away-team-icon::before {
  content: ""; /* Create a pseudo-element for overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(131, 234, 11, 0.5); /* Set the desired overlay color and transparency */
  z-index: -1; /* Place the overlay beneath the icon */
}

.home-team-name,
.away-team-name {
  font-size: 1.7rem;
  font-weight: bold;
  flex: 1 1 auto; /* Allow names to grow to fill space */
  margin: 0 10px; /* Add margin for spacing */
  text-align: left; /* Align to the left within home-team */
}

.away-team-name {
  text-align: right; /* Align to the right within away-team */
}

.home-team-score,
.away-team-score {
  font-size: 2.5rem;
  font-weight: bold;
  color: #dcdcdc;
}

.match-details {
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.match-details:hover {
  text-decoration: underline;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.boston-filter {
  filter: invert(82%) sepia(82%) saturate(450%) hue-rotate(370deg) brightness(120%) contrast(98%);
}

.hangzhou-filter {
  filter: invert(51%) sepia(10%) saturate(2889%) hue-rotate(175deg) brightness(102%) contrast(70%);
}

.houston-filter {
  filter: contrast(60%);
}

.new-york-filter {
  filter: invert(72%) sepia(6%) saturate(128%) hue-rotate(169deg) brightness(104%) contrast(96%);
}

.shanghai-filter {
  filter: contrast(140%);
}

.toronto-filter {
  filter: invert(24%) sepia(99%) saturate(3644%) hue-rotate(337deg) brightness(72%) contrast(115%);
}

.twisted-filter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(79deg) brightness(202%) contrast(102%);
}

.wisp-filter {
  filter: invert(9%) sepia(6%) saturate(0%) hue-rotate(22deg) brightness(15%) contrast(84%);
}