.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: -8px 0;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-image: url("../images/teams-background-pattern.png");
  background-size: contain;
  overflow-x: auto;
}

.page-title {
  font-size: 2rem;
  margin-bottom: 5px;
  clear: both;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: -8px 0;
  padding: 10px 20px;
}

.select-region {
  position: absolute;
  top: 90px;
  right: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.select-region label {
  font-weight: bold;
  margin-right: 8px;
}

.select-region select {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px;
}

.team-card {
  width: 16em;
  height: 9em;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  color: #212020;
}

.team-logo {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  display: block;
  margin: 0 auto 10px;
  object-fit: scale-down;
}

.team-name {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.team-code {
  font-size: 14px;
}

.team-card:hover {
  background-color: var(--secondary-color, #f8f8f8);
  color: var(--secondary-font-color, black);
}

.boston-filter {
  filter: invert(82%) sepia(82%) saturate(450%) hue-rotate(370deg) brightness(120%) contrast(98%);
}

.houston-filter {
  filter: contrast(60%);
}
