.main-content {
	align-items: center;
	background-color: #FFFFFF;
	background-size: contain;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
	margin: -8px 0;
	overflow-x: auto;
	padding: 20px;
	padding-bottom: 30px;
	text-align: center;
}

.dark-mode .main-content {
	background-color: #333;
}

.page-title {
	clear: both;
	font-size: 2rem;
	margin-bottom: 5px;
}

.dark-mode .page-title {
	color: #E8E6E3;
}

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	margin: -8px 0;
	padding: 10px 20px;
}

.select-region {
	align-items: center;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	padding: 8px;
	position: absolute;
	right: 40px;
	top: 90px;
}

.dark-mode .select-region {
	background-color: #C2C2C2;
}

.select-region label {
	font-weight: bold;
	margin-right: 8px;
}

.select-region select {
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 6px;
}

.dark-mode .select-region select {
	background-color: #E0E0E0;
}

.team-card {
	background-color: #F0F0F0;
	border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	color: #212020;
	height: 9em;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	width: 16em;
}

.dark-mode .team-card {
	background-color: #C2C2C2;
}

.team-logo {
	border-radius: 5px;
	display: block;
	height: 5rem;
	margin: 0 auto 10px;
	object-fit: scale-down;
	width: 5rem;
}

.team-name {
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.team-code {
	font-size: 14px;
}

.team-card:hover {
	background-color: var(--secondary-color, #F8F8F8);
	color: var(--secondary-font-color, black);
}

.boston-filter {
	filter: invert(82%) sepia(82%) saturate(450%) hue-rotate(370deg) brightness(120%) contrast(98%);
}

.houston-filter {
	filter: contrast(60%);
}
